<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.com.candt.controller.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteFisicoServlet</servlet-name>
        <servlet-class>br.com.candt.controller.CadastrarClienteFisicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarClienteJuridicoServlet</servlet-name>
        <servlet-class>br.com.candt.controller.CadastrarClienteJuridicoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/CadastrarClente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteFisicoServlet</servlet-name>
        <url-pattern>/CadastroDeClienteFisico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarClienteJuridicoServlet</servlet-name>
        <url-pattern>/CadastroDeClienteJuridico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
